---
name: Modules

on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ruby: [3.2]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run module tests
        run: bundle exec rake ci:modules

  windows:
    name: Windows
    runs-on: windows-latest
    strategy:
      matrix:
        ruby: [3.2]
    env:
      BOLT_WINDOWS: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run module tests
        run: bundle exec rake ci:modules
